.education-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 32.32px;
  column-gap: 8px;
  row-gap: 8px;
}

.education-list__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f7f9fc;
  border-radius: 8px;
  padding: 16px 24px;
}

.education-list__item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.education__title {
  font-weight: 500;
  font-size: 12px;
  color: #2e2e48;
  font-family: "DM Sans", sans-serif;
}

.education__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e48;
  margin-top: 8px;
  margin-bottom: 2px;
  font-family: "DM Sans", sans-serif;
}

.education__time {
  font-size: 10px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

/* Desktop view */
@media only screen and (min-width: 768px) {
  .education-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 32.32px;
  }

  .education-list__item {
    flex: 1 1 200px;
  }

  .education-list__item-top {
    column-gap: 16px;
  }
}
