.experience-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 32.32px;
  gap: 24px;
}

.experience-list__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.exp-dynamic-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-item-first-section-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item-first-section-timeline-circle {
  height: 6.31px;
  width: 6.31px;
  min-height: 6.31px;
  min-width: 6.31px;
  border-radius: 50%;
  background-color: #2e2e48;
}

.experience-item-first-section-timeline-line {
  width: 1.1px;
  height: 100%;
  background-color: #f7f9fc;
  margin-top: 8.96px;
}

.exp-item-mid-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.exp-item-mid-sec-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}

.exp-item-mid-sec-top__date {
  color: #47516b;
  font-size: 10.1px;
  font-weight: 400;
  line-height: 13.15px;
  letter-spacing: 0.01em;
  text-align: left;

  font-family: "DM Sans", sans-serif;
}

.exp-item-mid-sec-top__location {
  color: #79819a;
  font-size: 10px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.exp-item-mid-sec-mid {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.apple-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.exp-item-mid-sec-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.exp-item-mid-sec-mid__title {
  font-size: 12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.exp-item-mid-sec-mid__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e48;
  font-family: "DM Sans", sans-serif;
}

.experience-item-second-section {
  width: 100%;
  color: #79819a;
  font-weight: 400;
  font-size: 10.1px;
  font-family: "DM Sans", sans-serif;
}

/* Desktop view */
@media only screen and (min-width: 768px) {
  .experience-list {
    padding-top: 32.32px;
  }

  .experience-list__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
  }

  .experience-item-first-section-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience-item-first-section-timeline-circle {
    height: 6.31px;
    width: 6.31px;
    min-height: 6.31px;
    min-width: 6.31px;
    border-radius: 50%;
    background-color: #2e2e48;
  }

  .experience-item-first-section-timeline-line {
    width: 1.1px;
    height: 100%;
    background-color: #f7f9fc;
    margin-top: 8.96px;
  }

  .exp-dynamic-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .exp-item-mid-sec {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .exp-item-mid-sec-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .apple-image {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }

  .exp-item-mid-sec-data {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .exp-item-mid-sec-mid__title {
    font-size: 12px;
    font-weight: 400;
    color: #79819a;
    font-family: "DM Sans", sans-serif;
  }

  .exp-item-mid-sec-mid__subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #2e2e48;
    font-family: "DM Sans", sans-serif;
  }

  .experience-item-second-section {
    width: 60%;
    font-family: "DM Sans", sans-serif;
  }
}
