.left-section__profile-img {
  width: 100%;
  object-fit: cover;
  height: 280px;
}

.profile {
  padding: 48px;
  background-color: #f7f9fc;
  width: 100%;
  height: 100%;
}

.profile__username {
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 8px;
  text-align: center;
}

.profile__occupation {
  font-size: 24px;
  line-height: 32px;
  background: linear-gradient(to right, #a478e8, #516cf7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 32px;
  text-align: center;
}

.profile__quote {
  display: flex;
  justify-content: start;
  margin-bottom: 32.32px;
}

.profile__quote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__quote-desc {
  padding: 0px 10px;
  margin-bottom: 4px;
  font-size: 18.18px;
  position: relative;
}

.profile__quote-desc::before {
  position: absolute;
  left: -0px;
  content: "“";
  color: #79819a;
}

.profile__quote-desc::after {
  content: "”";
  position: absolute;
  right: 0px;
  color: #79819a;
}

.profile__quote-owner {
  color: #79819a;
  font-size: 12.12px;
  padding: 0 10px;
  font-family: "DM Sans", sans-serif;
}

.profile__divider {
  height: 1.5px;
  width: 100%;
  background-color: #e2e6ee;
}

.profile__contact {
  margin: 32.32px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  row-gap: 24.24px;
}

.profile__contact-row {
  display: flex;
  flex-direction: column;
  row-gap: 24.24px;
  width: 100%;
  column-gap: 2px;
}

.profile__contact-item {
  display: flex;
  flex: 100%;
  flex-direction: row;
  align-items: start;
  column-gap: 16.16px;
}

.profile__contact-icon {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #e2e6ee;
  justify-content: center;
  align-items: center;
}

.profile__contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.profile__contact-title {
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.profile__contact-data {
  font-size: 14px;
  font-weight: 500;
  color: #47516b;
}

.profile__social {
  margin: 32.32px 0px;
  width: 100%;
}

.profile__social-title {
  margin-bottom: 24.24px;
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.profile__contact-img {
  height: 33px;
  width: 33px;
  min-height: 33px;
  min-width: 33px;
  object-fit: cover;
}

.profile__twitter-icon {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #00acee;
  justify-content: center;
  align-items: center;
}

.profile__linkedin-icon {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #0077b5;
  justify-content: center;
  align-items: center;
}

.profile__languages {
  margin: 32.32px 0px;
  width: 100%;
}

.profile__languages-title {
  margin-bottom: 24.24px;
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.profile__language-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16.16px;
}

.profile__language-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.profile__language-title {
  font-size: 14.14px;
  font-weight: 050;
  color: #47516b;
}

.profile__language-data {
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .profile__contact-row {
    display: flex;
    flex-direction: row;
    row-gap: 24.24px;
    width: 100%;
    column-gap: 2px;
  }

  .profile__quote {
    justify-content: center;
  }

  .profile__username,
  .profile__occupation {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .profile__username,
  .profile__occupation {
    text-align: center;
  }

  .profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f7f9fc;
  }

  .profile__quote {
    justify-content: center;
  }

  .profile__profile-img {
    height: 161px;
  }

  .profile__username {
    line-height: 40px;
    text-align: start;
  }

  .profile__quote {
    flex-flow: row wrap;
  }

  .profile__quote-content {
    align-items: start;
  }

  .profile__contact {
    flex-direction: column;
  }

  .profile__contact-row {
    flex-direction: column;
  }

  .profile__language-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
