.main-section {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f9fc;
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 100%;
  object-fit: cover;
  height: 280px;
}

.username {
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 8px;
}

.occupation {
  font-size: 24px;
  line-height: 32px;
  background: linear-gradient(to right, #a478e8, #516cf7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 32px;
}

.divider {
  height: 1.5px;
  width: 100%;
  background-color: grey;
}

.quote {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  column-gap: 2px;
  margin-bottom: 32.32px;
}

.quote-main-desc {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.quote-desc {
  padding: 0px 10px;
  margin-bottom: 4px;
  font-size: 18.18px;
  position: relative;
}

.quote-desc::before {
  position: absolute;
  left: -0px;
  content: "“";
  color: #79819a;
}

.quote-desc::after {
  content: "”";
  position: absolute;
  right: 0px;
  color: #79819a;
}

.quote-owner {
  color: #79819a;
  font-size: 12.12px;
  padding: 0 10px;
  font-family: "DM Sans", sans-serif;
}

.contact-list {
  margin: 32.32px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  row-gap: 24.24px;
}

.contact-list-row {
  display: flex;
  flex-direction: column;
  row-gap: 24.24px;
  width: 100%;
  column-gap: 2px;
}

.contact-list-item {
  display: flex;
  flex: 100%;
  flex-direction: row;
  align-items: start;
  column-gap: 16.16px;
}

.contact-image-div {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #e2e6ee;
  justify-content: center;
  align-items: center;
}

.twitter-image-div {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #00acee;
  justify-content: center;
  align-items: center;
}

.linkedin-image-div {
  height: 33px;
  width: 33px;
  min-width: 33px;
  border-radius: 50%;
  display: flex;
  background: #0077b5;
  justify-content: center;
  align-items: center;
}

.contact-image {
  height: 33px;
  width: 33px;
  min-height: 33px;
  min-width: 33px;
  object-fit: cover;
}

.contact-details {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.contact-title {
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.contact-data {
  font-size: 14px;
  font-weight: 500;
  color: #47516b;
}

.socials-section {
  margin: 32.32px 0px;
  width: 100%;
}

.socials-title {
  margin-bottom: 24.24px;
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

.language-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16.16px;
}

.language-image {
  width: 10.77px;
  height: 24.24px;
  gap: 0px;
}

.language-details {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.language-title {
  font-size: 14.14px;
  font-weight: 050;
  color: #47516b;
}

.language-data {
  font-size: 12.12px;
  font-weight: 400;
  color: #79819a;
  font-family: "DM Sans", sans-serif;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .contact-list-row {
    display: flex;
    flex-direction: row;
    row-gap: 24.24px;
    width: 100%;
    column-gap: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .main-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #f7f9fc;
  }

  .profile-image {
    height: 161px;
  }

  .username {
    line-height: 40px;
  }

  .quote {
    flex-flow: row wrap;
  }

  .quote-main-desc {
    align-items: start;
  }

  .contact-list {
    flex-direction: column;
  }

  .contact-list-row {
    flex-direction: column;
  }

  .language-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
