.experience-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 32.32px;
  row-gap: 16.16px;
}

.experience-list-item {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 8px;
}

.exp-dynamic-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.experience-item-first-section-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-item-first-section-timeline-circle {
  height: 6.31px;
  width: 6.31px;
  min-height: 6.31px;
  min-width: 6.31px;
  border-radius: 50%;
  background-color: #2e2e48;
}

.experience-item-first-section-timeline-line {
  width: 1.1px;
  height: 100%;
  background-color: black;
}

.exp-item-mid-sec {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 8px;
}

.exp-item-mid-sec-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  column-gap: 4px;
}

.exp-item-mid-sec-top-date {
  color: #47516b;
  font-size: 10px;
  font-weight: 400;
}

.exp-item-mid-sec-top-location {
  color: #79819a;
  font-size: 10px;
  font-weight: 400;
}

.exp-item-mid-sec-mid {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.apple-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.exp-item-mid-sec-data {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.exp-item-mid-sec-mid-title {
  font-size: 12px;
  font-weight: 400;
  color: #79819a;
}

.exp-item-mid-sec-mid-subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #2e2e48;
}

.experience-item-first-section-timeline-line {
  margin-top: 8.96px;
  width: 1.1px;
  height: 100%;
  background-color: #e2e6ee;
}

/* second-part */

.experience-item-second-section {
  width: 100%;
  color: #79819a;
  font-weight: 400;
  font-size: 10.1px;
}

/* desktop view */
@media only screen and (min-width: 768px) {
  .experience-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32.32px;
  }

  .experience-list-item {
    width: 100%;
    display: flex;
    justify-content: start;
    column-gap: 8px;
  }

  .experience-item-first-section-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .experience-item-first-section-timeline-circle {
    height: 6.31px;
    width: 6.31px;
    min-height: 6.31px;
    min-width: 6.31px;
    border-radius: 50%;
    background-color: #2e2e48;
  }

  .experience-item-first-section-timeline-line {
    width: 1.1px;
    height: 100%;
    background-color: black;
  }

  .exp-dynamic-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .exp-item-mid-sec {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    row-gap: 8px;
  }

  .exp-item-mid-sec-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    /* align-items: start; */
    column-gap: 4px;
  }

  .exp-item-mid-sec-top-date {
    color: #47516b;
    font-size: 10px;
    font-weight: 400;
  }

  .exp-item-mid-sec-top-location {
    color: #79819a;
    font-size: 10px;
    font-weight: 400;
  }

  .exp-item-mid-sec-mid {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }

  .apple-image {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }

  .exp-item-mid-sec-data {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .exp-item-mid-sec-mid-title {
    font-size: 12px;
    font-weight: 400;
    color: #79819a;
  }

  .exp-item-mid-sec-mid-subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #2e2e48;
  }

  .experience-item-first-section-timeline-line {
    margin-top: 8.96px;
    width: 1.1px;
    height: 100%;
    background-color: #e2e6ee;
  }

  /* second-part */

  .experience-item-second-section {
    width: 60%;
    color: #79819a;
    font-weight: 400;
    font-size: 10.1px;
  }
}
